body{
	padding: 10px;
	background-color: #f5f3e7;
	font-size: 125%;
}

h1{
  font-size: 220%;
  font-family: sans-serif;
  padding: 0.3cm;
}

h2{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.3cm;
  font-size: 150%;
}

h3{
  font-size: 120%;
  font-family: 'Courier New', Courier, monospace;
}

p{
  font-size: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div ul li {
  font-size: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

footer{
  font-size: 75%;
  padding:0.3cm
}

#index-img{
  width: 50%;
}

img{
  width: 500px;
  padding: 10px;
  margin: 20px;
  border-style: dotted;
  border-color: #9ad9db;
  border-width: 7px;
  border-radius: 30px;
}

img:nth-of-type(even){
  border-style: dotted;
  border-color: black;
  border-width: 7px;
  border-radius: 20px;
  border-radius: 30px;
}

nav ul li{
  display: inline-block;
  margin-right: 150px;
  /* padding: 10px; */
  background-color: #eebab2;
  font-size: 25px;
  border-radius: 10px;
}

header {
  background-image: url('../images/pink-flower-background-image-2.png');
  background-size: cover;
  background-color: #f5f3e7;
}

header > nav {
  margin: auto;
}

nav ul li a{
  text-decoration: none;
}

a:visited{
  color: #333333;
}

nav a.current{
  border: solid 7px #ffffff;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;

}
